*:focus {
  outline: none;
}
i{
  margin-top:9px;
}
.select-info-main{
  display:flex;
  flex-direction: row;
  justify-content:space-evenly;
  text-align: center;
}
.search-info-txt{
  /* margin-left:10px;
  margin-right:10px; */
  width:300px;
  font-size: 13px;
  cursor:pointer;
}
.search-bar-main{
  display:flex;
  flex-direction:row;
  justify-content:center;
  
}
#search{
  border:none;
  margin-top:10px;
  margin-bottom:10px;
  border-bottom:1px solid gray;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 15px;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 15px;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 15px;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 15px;
}

.info-list-title{
  display:flex;
  flex-direction:row;
  /* display:inline-block; */
  justify-content:center;
  font-size: 25px;
  margin-top:30px;
}
.info-list-main-div{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
.phone-num-main-name{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin-top:20px;
  /* margin-left:300px */
  font-size: 25px;
  

}
.phone-num-main{
  display:flex;
  flex-direction:column;
  margin-top:10px;
  
  
}
h4{
  /* margin-left:25px; */
}
.phone-num-sub{
  /* background-color: bisque; */
  background-color: #FEF6E7;
  height:300px;
  width:1000px;
  display:flex;
  flex-direction:column;
  flex-wrap: wrap;
}
.phone-num-sub-detail{
  display:flex;
  flex-direction:column;
  margin-top:5px;
  margin-left:5px;
  
}
.searched-main-div{
  background-color: #FEF6E7;
  display:flex;
  flex-direction:column;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-right: 50px;
}